<div class="container">
    <form (ngSubmit)="onSubmited()" #taskForm="ngForm">
        <div class="form-group">
            <label for="projectId">Project Id:</label>
            <input required type="number" [(ngModel)]="task.projectId" name="projectId" class="form-control">
        </div>
        <div class="form-group">
            <label for="performerId">Performer Id:</label>
            <input required type="number" [(ngModel)]="task.performerId" name="performerId" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input required type="text" [(ngModel)]="task.name" minlength="3" maxlength="50" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input required type="text" [(ngModel)]="task.description" minlength="10" maxlength="150" name="description" class="form-control">
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <select required type="number" [(ngModel)]="task.state" name="state" class="form-select" aria-label="Default select example">
                <option value="0">To Do</option>
                <option value="1">In Progress</option>
                <option value="2">Done</option>
                <option value="3">Canceled</option>
            </select>
        </div>
        <div class="form-group">
            <label for="finishedAt">FinishedAt:</label>
            <input type="date" [ngModel]="task.finishedAt | date:'yyyy-MM-dd'" (ngModelChange)="task.finishedAt=$event" name="finishedAt" class="form-control">
        </div>
        <button type="submit" class="btn btn-outline-success" [disabled]="!taskForm.form.valid">Save</button>
        <a routerLink="/task" class="btn btn-outline-danger">Cancel</a>
    </form>
</div>