<div class="container">
    <button type="button" class="btn btn-primary m-2" routerLink="/user/add"><i class="fas fa-plus"></i></button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Team Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Registered At</th>
                <th scope="col">Birth Day</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.teamId}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.registeredAt | myDate}}</td>
                <td>{{user.birthDay | myDate}}</td>
                <td>
                    <a class="edit" routerLink="/user/{{user.id}}">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
                <td>
                    <button class="delete" type="button" (click)="deleteUser(user)">
                    <i class="fas fa-trash"></i>
                </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>