.brand {
    font-weight: bold;
    font-size: 20px;
}

.site-header {
    position: relative;
    background-color: #6255f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.site-header-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-item:hover {
    background: #6d2aff;
}

.nav-item a {
    display: block;
    padding: 1.5rem 1rem;
}

.wrapper {
    max-width: 1140px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

body {
    line-height: 1
}

ol,
ul {
    margin: 0;
    list-style: none
}

@media (min-width: 600px) {
    .site-header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 600px) {
    .nav-wrapper {
        display: flex;
    }
}