<header class="site-header">
    <div class="wrapper site-header-wrapper">
        <a href="#" class="brand">Amazing Company</a>
        <nav class="nav">
            <ul class="nav-wrapper">
                <li class="nav-item"><a routerLink="main">Home</a></li>
                <li class="nav-item"><a routerLink="project">Projects</a></li>
                <li class="nav-item"><a routerLink="task">Tasks</a></li>
                <li class="nav-item"><a routerLink="team">Teams</a></li>
                <li class="nav-item"><a routerLink="user">Users</a></li>
            </ul>
        </nav>
    </div>
</header>

<router-outlet></router-outlet>