<div class="container">
    <form (ngSubmit)="onSubmited()" #projectForm="ngForm">
        <div class="form-group">
            <label for="authorId">Author Id:</label>
            <input required type="number" [(ngModel)]="project.authorId" name="authorId" class="form-control">
        </div>
        <div class="form-group">
            <label for="teamId">Team Id:</label>
            <input required type="number" [(ngModel)]="project.teamId" name="teamId" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input required type="text" [(ngModel)]="project.name" minlength="3" maxlength="50" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input required type="text" [(ngModel)]="project.description" minlength="10" maxlength="150" name="description" class="form-control">
        </div>
        <div class="form-group">
            <label for="deadline">Deadline:</label>
            <input required type="date" [ngModel]="project.deadline | date:'yyyy-MM-dd'" (ngModelChange)="project.deadline=$event" name="deadline" class="form-control">
        </div>
        <button type="submit" class="btn btn-outline-success" [disabled]="!projectForm.form.valid">Save</button>
        <a routerLink="/project" class="btn btn-outline-danger">Cancel</a>
    </form>
</div>