<div class="container">
    <form (ngSubmit)="onSubmited()" #userForm="ngForm">
        <div class="form-group">
            <label for="teamId">Team Id:</label>
            <input required type="number" [(ngModel)]="user.teamId" name="teamId" class="form-control">
        </div>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input required type="text" [(ngModel)]="user.firstName" minlength="3" maxlength="25" name="firstName" class="form-control">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input required type="text" [(ngModel)]="user.lastName" minlength="3" maxlength="25" name="lastName" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input required type="email" pattern=".+@.+\..+" [(ngModel)]="user.email" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="birthDay">BirthDay:</label>
            <input required type="date" [ngModel]="user.birthDay | date:'yyyy-MM-dd'" (ngModelChange)="user.birthDay=$event" name="birthDay" class="form-control">
        </div>
        <button type="submit" class="btn btn-outline-success" [disabled]="!userForm.form.valid">Save</button>
        <a routerLink="/user" class="btn btn-outline-danger">Cancel</a>
    </form>
</div>