<div class="container">
    <button type="button" class="btn btn-primary m-2" routerLink="/task/add"><i class="fas fa-plus"></i></button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Project Id</th>
                <th scope="col">Performer Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">State</th>
                <th scope="col">Created At</th>
                <th scope="col">Finished At</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td>{{task.id}}</td>
                <td>{{task.projectId}}</td>
                <td>{{task.performerId}}</td>
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td appTaskMark [state]="task.state"></td>
                <td>{{task.createdAt | myDate}}</td>
                <td>{{task.finishedAt | myDate}}</td>
                <td>
                    <a class="edit" routerLink="/task/{{task.id}}">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
                <td>
                    <button class="delete" type="button" (click)="deleteTask(task)">
                    <i class="fas fa-trash"></i>
                </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>