<div class="container">
    <form (ngSubmit)="onSubmited()" #teamForm="ngForm">
        <div class="form-group">
            <label for="name">Name:</label>
            <input required type="text" [(ngModel)]="team.name" minlength="3" maxlength="25" name="name" class="form-control">
        </div>
        <button type="submit" class="btn btn-outline-success" [disabled]="!teamForm.form.valid">Save</button>
        <a routerLink="/team" class="btn btn-outline-danger">Cancel</a>
    </form>
</div>