<div class="container">
    <button type="button" class="btn btn-primary m-2" routerLink="/team/add"><i class="fas fa-plus"></i></button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of teams">
                <td>{{team.id}}</td>
                <td>{{team.name}}</td>
                <td>{{team.createdAt | myDate}}</td>
                <td>
                    <a class="edit" routerLink="/team/{{team.id}}">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
                <td>
                    <button class="delete" type="button" (click)="deleteTeam(team)">
                    <i class="fas fa-trash"></i>
                </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>