/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/ngx-toastr/toastr.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

label {
    color: black;
}


/* list/add/edit components */


/* list */

.container {
    margin-top: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.edit,
.delete {
    background: none;
    border: none;
    cursor: pointer;
}

.edit {
    color: #6255f1;
}

.delete {
    color: red;
}

.edit:hover,
.delete:hover {
    opacity: 0.6;
}

.fa-circle {
    margin: 3px;
    margin-right: 6px;
    font-size: 10px;
}

span {
    white-space: nowrap;
}

.btn-primary {
    background: #6255f1;
    font-size: 15px;
    background-color: #6255f1;
    border-color: #6255f1;
}

.btn-primary:hover {
    color: white;
    background-color: #6d2aff;
    border-color: #6255f1;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: white;
    background-color: #6255f1;
    border-color: #6255f1;
    box-shadow: 0 0 0 0.25rem #6255f185;
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    color: white;
    background-color: #6255f1;
    border-color: #6255f1;
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem #6255f185;
}

.btn-primary:disabled,
.btn-primary.disabled {
    color: white;
    background-color: #6255f1;
    border-color: #6255f1;
}


/* add/edit */

input:invalid {
    border: 1px solid rgb(230, 75, 75);
}

.form-control:invalid:focus,
.form-control.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.form-group {
    margin-bottom: 10px;
}

.alert {
    padding: 2px 10px 2px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.btn {
    height: 35px;
    width: 60px;
    padding: 5px;
    margin: 5px;
}

.btn-outline-success {
    border-color: #6255f1;
    color: #6255f1;
}

.btn-outline-success:hover {
    color: white;
    background-color: #6255f1;
    border-color: #6255f1;
}

.btn-check:focus+.btn-outline-success,
.btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem #6255f185;
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
    color: #6255f1;
}

.btn-check:checked+.btn-outline-success,
.btn-check:active+.btn-outline-success,
.btn-outline-success:active,
.btn-outline-success.active,
.btn-outline-success.dropdown-toggle.show {
    color: white;
    background-color: #6255f1;
    border-color: #6255f1;
}

.btn-check:checked+.btn-outline-success:focus,
.btn-check:active+.btn-outline-success:focus,
.btn-outline-success:active:focus,
.btn-outline-success.active:focus,
.btn-outline-success.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem #6255f185;
}