.container {
    padding: 25px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #6255f1;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    color: black;
}

h1 {
    text-align: center;
}