<div class="container">
    <h1>Welcome!</h1>
    <h3>Angular</h3>
    <p>У цьому завданні було необхідно написати Angular web клієнт для сервера який ми зробили в попередніх домашніх роботах.</p>
    <h5>Вимоги:</h5>
    <ul>
        <li>Проект повинен бути створений з допомогою Angular CLI</li>
        <li>Створити навігацію між сторінками</li>
        <li>Сторінки для відображення списку, редагування і створення
            <ul>
                <li>Projects</li>
                <li>Project Tasks</li>
                <li>Team</li>
                <li>Users</li>
            </ul>
        </li>
        <li>Cторінки для редагування повинні використовувати Forms</li>
        <li>Розбити всю логіку на модулі (projects, task...), і потім використати їх в root модулі</li>
        <li>Використати Guard для того щоб попереджати користувача що в нього є незбережені зміни (для сторінок де є редагування даних)</li>
        <li>Дані завантажувати в сервісах (використати бібліотеку RxJS)</li>
        <li>Створити свої деректи для того щоб візуально відрізнити статус таску; (наприклад таск з статусом finished відмітити зеленим кружечком)</li>
        <li>Створити Pipe для дати в форматі “12 вересня 2021” (місяць українською)</li>
    </ul>
</div>