<div class="container">
    <button type="button" class="btn btn-primary m-2" routerLink="/project/add"><i class="fas fa-plus"></i></button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Author Id</th>
                <th scope="col">Team Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Deadline</th>
                <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <td>{{project.id}}</td>
                <td>{{project.authorId}}</td>
                <td>{{project.teamId}}</td>
                <td>{{project.name}}</td>
                <td>{{project.description}}</td>
                <td>{{project.deadline | myDate}}</td>
                <td>{{project.createdAt | myDate}}</td>
                <td>
                    <a class="edit" routerLink="/project/{{project.id}}">
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
                <td>
                    <button class="delete" type="button" (click)="deleteProject(project)">
                    <i class="fas fa-trash"></i>
                </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>